<mat-toolbar *ngIf="user.name" color="primary">
  <mat-toolbar-row>
    <a>
      <mat-icon class="icon-user">supervisor_account</mat-icon>
    </a>
    <span>{{ user.name }}</span>
    <span class="spacer"></span>
    <span class="logout" (click)="logout()">Logout</span>
    <a class="logout" (click)="logout()">
      <mat-icon class="icon-logout">power_settings_new</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div [ngSwitch]="user.role">

  <div *ngSwitchDefault class="container-tudo" style="text-align:center">
    <h1>
      Bem vindo à {{ title }}!
    </h1>
    <a>
      <mat-icon>local_hospital</mat-icon>
    </a>
    <h2>Efetuar login: </h2>

    <form class="login-form">
      <mat-form-field>
        <input matInput [(ngModel)]="user.cpf" name="cpf" placeholder="CPF" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="user.password" name="password" type="password" placeholder="Senha" required>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" (click)="login()">Entrar!</button>
    </form>

  </div>

  <div *ngSwitchCase="'admin'">
    <app-admin-dashboard></app-admin-dashboard>
  </div>
  <div *ngSwitchCase="'assistente'">
    <app-assistant-dashboard></app-assistant-dashboard>
  </div>
  <div *ngSwitchCase="'medico'">
    <app-doctor-dashboard [user]="user"></app-doctor-dashboard>
  </div>

</div>