<div class="titulo">Lista de pacientes</div>

<div *ngIf="!showPatientHistory" class="mat-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Idade</th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="icon-request-drug">
        <th mat-header-cell *matHeaderCellDef>Prescrever Medicamento</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="request-drug" (click)="prescriptionDialog(element)">add_circle</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="icon-ask-exam">
        <th mat-header-cell *matHeaderCellDef>Solicitar Exame</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="ask-exam" (click)="examDialog(element)">add_box</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="icon-history">
        <th mat-header-cell *matHeaderCellDef>Ver Histórico</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="history" (click)="showHistory(element)">history</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

<app-history *ngIf="showPatientHistory" [patient]="showPatientHistory" (close)="showPatientHistory = null"></app-history>