<div class="mat-table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="doctorName">
      <th mat-header-cell *matHeaderCellDef>Médico</th>
      <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
    </ng-container>

    <ng-container matColumnDef="patientName">
      <th mat-header-cell *matHeaderCellDef>Paciente</th>
      <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
    </ng-container>

    <ng-container matColumnDef="examType">
      <th mat-header-cell *matHeaderCellDef>Exame</th>
      <td mat-cell *matCellDef="let element"> {{element.examType}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let element"> {{element.date | date : "dd/MM/yyyy" }} </td>
    </ng-container>

    <ng-container matColumnDef="button-insert-result">
      <th mat-header-cell *matHeaderCellDef>Resultado</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.received">{{ element.result }}</span>
        <button *ngIf="!element.received" type="button" mat-raised-button color="primary" (click)="resultDialog(element)">Inserir resultado</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="button-send-email">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element.received" type="button" mat-raised-button color="accent" (click)="confirmationEmailDialog(element)">Enviar email</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
