<div>
    <h1>
      {{ patient.name }}
    </h1>
  </div>
  <div>
    <form class="update-patient-form">
        <mat-form-field>
            <input matInput [(ngModel)]="patient.name" name="name" placeholder="Nome" required>
          </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="patient.age" name="age" placeholder="Idade" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="patient.cpf" name="cpf" placeholder="CPF" required disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="patient.phone" name="phone" placeholder="Telefone" required>
      </mat-form-field>
    </form>
  </div>
  <div>
    <button type="button" mat-raised-button color="primary" (click)="dialogRef.close({response: false})">Cancelar</button>
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close({response: true, patient: patient})">Atualizar</button>
  </div>